.search-container {
  position: relative;
}

.search-result {
  /* position: absolute;
      background: white;
      width: 100%;
      padding: 10px;
      border: 1px solid gray; */
  /* display: none; */
  position: absolute;
  background: white;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  z-index: 999; /* Set a higher z-index value */
}
