body {
  background: #c9d6ff!important; 
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  )!important; 
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  )!important; 
}
